body {
    font-family: 'Century Gothic', CenturyGothic ;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.oyun-alani {
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Dolap Tasarımı */
.dolap {
    width: 400px;
    height: 500px;
    background-color: #8B4513;
    border: 10px solid #5c2e0b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Raflar */
.raf {
    height: 28%;
    border-bottom: 8px solid #5c2e0b;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

/* Rafın Harf İşareti */
.raf::after {
    content: attr(data-harf);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255,0.4);
    font-size: 60px;
    font-weight: bold;
    pointer-events: none;
}

/* Nesneler Alanı */
.nesneler-alani {
    width: 360px;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-start;
}

/* Sürüklenebilir Kutular */
.nesne {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    overflow: hidden; /* Resim taşarsa gizle */

    touch-action: none; /* BU SATIRI EKLE (Sayfa kaymasını engeller) */
    user-select: none;  /* BU SATIRI EKLE (Metin seçimini engeller) */
}

/* Kutuların içindeki resim ayarı */
.nesne img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    pointer-events: none; /* Resmin kendisi değil kutu sürüklensin */
}

.nesne:active {
    cursor: grabbing;
    transform: scale(1.1);
    border-color: #333;
}

/* Doğru yerleşince */
.dogru {
    background-color: #90ee90;
    border-color: #006400;
    cursor: default;
}


/*erelawwwwwwwwwwwwwwwwwwww

/* Titreme Animasyonu */
@keyframes titre {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.hata {
  animation: titre 0.4s ease-in-out;
  border-color: red !important; /* Çerçeve geçici olarak kırmızı olsun */
}

